/* CSS Reset */

/* Box sizing */
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

/* Remove margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

/* Remove list styles */
ol,
ul {
  list-style: none;
}

/* Typography */
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Links */
a {
  text-decoration: none;
  color: inherit;
}

/* Images */
img {
  max-width: 100%;
  height: auto;
}

/* Remove default form styles */
button,
input,
optgroup,
select,
textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

/* Normalize HTML5 elements */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
  display: block;
}

/* Clear floats */
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

/* Add your custom styles below this line */
.GithubLink {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  font-weight: 600;
  font-size: 32;
  display: flex;
  align-items: center;
  gap: 1rem;
  background-color: #ffffff;
  border-radius: 1rem;
  padding: 1rem;
  opacity: 0.25;
  transition: opacity 0.2s ease-in;
}

.GithubLink:hover {
  opacity: 0.95;
}

/* Color Theme Swatches in RGBA */
.color-1 {
  color: rgba(2, 64, 89, 1);
}
.color-2 {
  color: rgba(1, 89, 80, 1);
}
.color-3 {
  color: rgba(2, 114, 94, 1);
}
.color-4 {
  color: rgba(2, 140, 62, 1);
}
.color-5 {
  color: rgba(12, 242, 92, 1);
}
